amqp==5.0.6
apply==1.5	
anyjson==0.3.3	
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
billiard==3.6.4.0
boto==2.49.0
boto3==1.18.29
certifi==2021.5.30
cffi==1.14.6
cryptography==3.4.8
factory-boy==3.2.0
fake-factory==9999.9.9
Flask==2.0.1
funcsigs==1.0
futures==3.1.1
httplib2==0.19.1
httpretty==1.1.4
idna==3.2
inflect==5.3.0
ipaddress==1.0.23
itsdangerous==2.0.1
Jinja2==3.0.1
kombu==5.1.0
MarkupSafe==2.0.1
mock==4.0.3
moto==2.2.4
nose==1.3.7
oauth2client==4.1.3
PasteDeploy==2.1.1
pbr==5.6.0
pusher==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
py3dns==3.2.1
pyOpenSSL==20.0.1
pyramid==1.10.4
python-dateutil==2.8.2	
pyramid-jinja2==2.8
pyramid-redis-sessions==1.0.1
pyramid-webpack==0.1.3
pytz==2021.1
redis==3.5.3
repoze.lru==0.7
requests==2.26.0	
rsa==4.7.2
scrapy==2.5.0
singledispatch==3.7.0
six==1.16.0
sqlacodegen==2.3.0
SQLAlchemy==1.4.23
tornado==6.1
transaction==3.0.1
translationstring==1.4
twisted==21.7.0
validate_email==1.3
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==2.0.1
wheel==0.37.0
xmltodict==0.12.0
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.5
psycopg2-binary==2.9.1
elasticsearch==7.0.0
numpy==1.21.2
pyramid_swagger==2.7.0
pathlib==1.0.1
biopython==1.79
multiprocess==0.70.12.2
primer3-py==0.6.1
coverage==5.5
python-coveralls==2.9.3
webcolors==1.11.1
pandas==1.3.2
xlrd==2.0.1
urllib3==1.26.6
Paste==3.5.0
intermine==1.11.0
